# Merge features

El objetivo de este notebook es agrupar los features de distintas notebooks en un solo dataframe (*df_features*).

In [1]:
import os

In [2]:
if '__file__' in locals():
    current_folder = os.path.dirname(os.path.abspath(__file__))
else:
    current_folder = os.getcwd()

In [3]:
features_seba = '"{}"'.format(os.path.join(current_folder, "Features Seba.ipynb"))

In [4]:
features_fran = '"{}"'.format(os.path.join(current_folder, "Feature Engineering Fran.ipynb"))

In [5]:
features_ale = '"{}"'.format(os.path.join(current_folder, "Features Ale.ipynb"))

In [6]:
features_fede = '"{}"'.format(os.path.join(current_folder, "Features_fede.ipynb"))

In [7]:
%run $features_seba

C:\Users\Francisco\Anaconda3\lib\site-packages\pandas\core\frame.py:3787: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  downcast=downcast, **kwargs)

In [8]:
df_features.head()

,screen_resolution_height,screen_resolution_width,ad campaign hit,brand listing,checkout,conversion,generic listing,lead,search engine hit,searched products,staticpage,viewed product,...,Tokyo,Tul'skaya Oblast',Turin,Tyrol,Utah,Virginia,Washington,Western Cape,Wisconsin,Wrexham,days until 31-05 mean,days until 31-05 std
person,,,,,,,,,,,,,,,,,,,,,,,,,
4886f805,640.0,360.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,1.0,0.0,4.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,13.000000,0.000000
ad93850f,640.0,360.0,10.0,15.0,1.0,0.0,7.0,0.0,7.0,0.0,0.0,20.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,13.461538,2.229608
0297fc1e,640.0,360.0,29.0,4.0,7.0,0.0,21.0,1.0,0.0,6.0,0.0,404.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,62.107584,45.514655
2d681dd8,768.0,1360.0,1.0,5.0,1.0,0.0,1.0,0.0,2.0,1.0,0.0,13.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,7.461538,4.465250
cccea85e,864.0,1536.0,15.0,7.0,1.0,0.0,20.0,0.0,26.0,1.0,5.0,739.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,12.340909,8.305243

In [9]:
%run $features_fran

KeyboardInterrupt: La limpieza ya corriÃ³ en este Kernel

C:\Users\Francisco\Anaconda3\lib\site-packages\pandas\core\frame.py:3787: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  downcast=downcast, **kwargs)

In [10]:
df_features.head()

,screen_resolution_height,screen_resolution_width,ad campaign hit,brand listing,checkout,conversion,generic listing,lead,search engine hit,searched products,staticpage,viewed product,...,Wrexham,days until 31-05 mean,days until 31-05 std,Cant visitas con Computadoras,Cant visitas con smartphone,vive en Brasil,compras Enero,compras Febrero,compras Marzo,compras Abril,compras Mayo,dias ultima compra
person,,,,,,,,,,,,,,,,,,,,,,,,,
4886f805,640.0,360.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,1.0,0.0,4.0,...,0.0,13.000000,0.000000,0.0,1.0,True,0,0,0,0,0,152 days
ad93850f,640.0,360.0,10.0,15.0,1.0,0.0,7.0,0.0,7.0,0.0,0.0,20.0,...,0.0,13.461538,2.229608,0.0,5.0,True,0,0,0,0,0,152 days
0297fc1e,640.0,360.0,29.0,4.0,7.0,0.0,21.0,1.0,0.0,6.0,0.0,404.0,...,0.0,62.107584,45.514655,0.0,95.0,True,0,0,0,0,0,152 days
2d681dd8,768.0,1360.0,1.0,5.0,1.0,0.0,1.0,0.0,2.0,1.0,0.0,13.0,...,0.0,7.461538,4.465250,2.0,0.0,True,0,0,0,0,0,152 days
cccea85e,864.0,1536.0,15.0,7.0,1.0,0.0,20.0,0.0,26.0,1.0,5.0,739.0,...,0.0,12.340909,8.305243,22.0,0.0,True,0,0,0,0,0,152 days

In [11]:
%run $features_ale

KeyboardInterrupt: La limpieza ya corriÃ³ en este Kernel

In [12]:
df_features.head()

,person,dia_x,prob_compra_por_dia_x,event_x,timestamp,dia_y,hora,madrugada,maniana,tarde,noche,dia,event_y,prob_compra_por_dia_y
0,4886f805,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,ad93850f,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,0297fc1e,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2d681dd8,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,cccea85e,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
%run $features_fede

In [ ]:
df_features.head()